<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.instagramclone">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".userPosts"></activity>
        <activity
            android:name=".socialMediaActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".signUpActivity" />
        <activity android:name=".SignUp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.parse.SERVER_URL"
            android:value="https://parseapi.back4app.com/" />
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="5Q0LEpvYZY0sSRR35OdyniAz2BSEmYLjx6lbRTjH" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="uCfvhSyLxigHXgxkYs33W9e3W0gqZWXjvywwQaPI" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>